.header{
    background-color:hsl(47, 100%, 50%);

    color:black;
    text-align: center;
    font-weight: bold;
    height:50px;
    padding:50px;
    margin-top:0;
    font-size: 3em;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  
  
}